<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
	<div class="top">
		<img src="/stylesheets/images/regl.png" style="text-align:left;float:left;"/>
		<ul class="mainMenu">
		<li><a href="/">Login</a></li>
		<li> | </li>
		<li><a href="/">Disclaimer</a></li>
		<li> | </li>
		<li><a href="/contact">Contact Us</a></li>
		<li> | </li>
		<li><a href="/about">About Us</a></li>
		<li> | </li>
		<li><a href="/">Home</a></li>
		</ul>
		<div class="soon"> Coming Soon in 2014! </div>
	</div>

	<div class="wrapper">
		<section class="bod">
			<div id="about">
				<div>
					REGL provides an innovative, personal connection to real estate. 
				</div><br>
				<div>
					REGL utilizes a social platform that allows current homeowners and renters to upload reviews and document everyday experiences
				</div><br>
				<div>
					The web-based database provides valuable information for brokers, buyers, renters, owners and all other real estate stakeholders
				</div><br>
				<div>
					REGL centralizes targeted property reviews, bringing "word of mouth" to the real estate world
				</div>
			</div>
		</section>
	</div>
</body>