<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
	<div class="top">
		<img src="/stylesheets/images/regl.png" style="text-align:left;float:left;"/>
		<ul class="mainMenu">
		<li><a href="/">Login</a></li>
		<li> | </li>
		<li><a href="/">Disclaimer</a></li>
		<li> | </li>
		<li><a href="/contact/">Contact Us</a></li>
		<li> | </li>
		<li><a href="/about/">About Us</a></li>
		<li> | </li>
		<li><a href="/">Home</a></li>
		</ul>
		<div class="soon"> Coming Soon in 2014! </div>
	</div>

	<div class="wrapper">
		<section class="bod">
			<div id="about">
				<p>
					For any inquires please contact us! 
				</p>
				<p>
					Email: info@regltech.com
				</p>
			</div>
		</section>
	</div>
</body>