{% load staticfiles %}

<head>
	<!--<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-1.10.2.js">
	</script>-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
	<div class="top">
		<img src="/stylesheets/images/regl.png" style="text-align:left;float:left;"/>
		<ul class="mainMenu">
		<li><a href="/">Login</a></li>
		<li> | </li>
		<li><a href="/">Disclaimer</a></li>
		<li> | </li>
		<li><a href="/contact">Contact Us</a></li>
		<li> | </li>
		<li><a href="/about">About Us</a></li>
		<li> | </li>
		<li><a href="/">Home</a></li>
		</ul>
		<div class="soon"> Coming Soon in 2014! </div>
		
	</div>

	<div class="wrapper">
		<section class="bod">
			<!--img id="logo" src="{% static 'temp/images/logo.png' %}" -->
			<div id="intro">
				REGL is a social platform that allows buyers and renters to receive live feedback on their potential homes from current homeowners and renters living in the targeted property.
			</div>
		</section>
	</div>
</body>